.wrapper {
  padding: 100px 100px 30vh;
  height: 100vh;
}
.block {
  height: 100%;
  box-shadow: 0 0 10px #333;
  border-radius: 20px;
}
.block {
  background: url('../images/prst.jpg') center/auto no-repeat, linear-gradient(#47c4eb,#040c79);
}
.block {
  background-image: url('../images/prst.jpg'), linear-gradient(#47c4eb,#040c79);
  background-position: center;
  background-repeat: no-repeat;
}